<div class="container">
  <div class="tile">
    <div class="t-header th-alt bg-teal">
      <div class="th-title">
        <%= fa_icon("tasks") %>
        <%= t("views.dashboards.choose_chart")%>
      </div>
    </div>
    <div class="t-body tb-padding">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <input id="units_capacity_checkbox" class="i-checks" type="checkbox">
              <span class="checkbox-span">
                <%=t("views.dashboards.units_capacity")%>
              </span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <input id="units_daily_occupation_checkbox" class="i-checks" type="checkbox">
              <span class="checkbox-span">
                <%=t("views.dashboards.units_daily_occupation")%>
              </span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <input id="daily_occupation_checkbox" class="i-checks" type="checkbox">
              <span class="checkbox-span">
                <%=t("views.dashboards.daily_occupation")%>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <input id="unitxacts_checkbox" class="i-checks" type="checkbox">
              <span class="checkbox-span">
                <%=t("views.dashboards.unitxacts")%>
              </span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <input id="unitxmeasures_checkbox" class="i-checks" type="checkbox">
              <span class="checkbox-span">
                <%=t("views.dashboards.unitxmeasures")%>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</br>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div id="units-capacity">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div id="units-daily-occupation">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div id="daily-occupation">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div id="crime-by-unit">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div id="measure-by-unit">
      </div>
    </div>
  </div>
</div>
</div>
