<div class="container overflow-visible">
  <div class="tile">
    <div class="t-header th-alt bg-teal">
      <div class="th-title">
        <span class="tile-text"><%= t("views.analysis.unconformities")%></span>
      </div>
    </div>
    <div class="table-responsive">

    <table class="table analysis-table">
      <thead>
        <tr>
          <th rowspan="3" class="table-strong-green-rowspan"><%= t("views.analysis.unit") %></th>
          <th colspan="10" class="table-strong-green-rowspan"><%= t("views.analysis.provisory") %></th>
          <th colspan="10" class="table-strong-green-rowspan"><%= t("views.analysis.detention") %></th>
          <th colspan="10" class="table-strong-green-rowspan"><%= t("views.analysis.penalty") %></th>
        </tr>

        <tr>
          <th colspan="10" class="table-light-green-rowspan"><%= t("views.analysis.age_group") %></th>
          <th colspan="10" class="table-light-green-rowspan"><%= t("views.analysis.age_group") %></th>
          <th colspan="10" class="table-light-green-rowspan"><%= t("views.analysis.age_group") %></th>
        </tr>

        <tr>
          <th class="table-light-green-rowspan text-center">12</th>
          <th class="table-light-green-rowspan text-center">13</th>
          <th class="table-light-green-rowspan text-center">14</th>
          <th class="table-light-green-rowspan text-center">15</th>
          <th class="table-light-green-rowspan text-center">16</th>
          <th class="table-light-green-rowspan text-center">17</th>
          <th class="table-light-green-rowspan text-center">18</th>
          <th class="table-light-green-rowspan text-center">19</th>
          <th class="table-light-green-rowspan text-center">20</th>
          <th class="table-light-green-rowspan text-center">21</th>

          <th class="table-light-green-rowspan text-center">12</th>
          <th class="table-light-green-rowspan text-center">13</th>
          <th class="table-light-green-rowspan text-center">14</th>
          <th class="table-light-green-rowspan text-center">15</th>
          <th class="table-light-green-rowspan text-center">16</th>
          <th class="table-light-green-rowspan text-center">17</th>
          <th class="table-light-green-rowspan text-center">18</th>
          <th class="table-light-green-rowspan text-center">19</th>
          <th class="table-light-green-rowspan text-center">20</th>
          <th class="table-light-green-rowspan text-center">21</th>

          <th class="table-light-green-rowspan text-center">12</th>
          <th class="table-light-green-rowspan text-center">13</th>
          <th class="table-light-green-rowspan text-center">14</th>
          <th class="table-light-green-rowspan text-center">15</th>
          <th class="table-light-green-rowspan text-center">16</th>
          <th class="table-light-green-rowspan text-center">17</th>
          <th class="table-light-green-rowspan text-center">18</th>
          <th class="table-light-green-rowspan text-center">19</th>
          <th class="table-light-green-rowspan text-center">20</th>
          <th class="table-light-green-rowspan text-center">21</th>
        </tr>

      </thead>
      <tbody>
        <% @units.each do |unit| %>
        <tr>
          <td>
            <div class="text-center" data-trigger="hover" data-html="true" data-toggle="popover" data-placement="right" data-content="<%= simple_format(t('views.analysis.unit_information', min_age: unit.min_age, max_age: unit.max_age, occupation: unit.occupied, offenders_out_of_profile: unit.offenders_out_of_profile, out_of_profile_percentage: unit.offenders_out_of_profile_percentage ))%>" title="<%= unit.name %>" data-original-title="">
              <%= truncate_words unit.name %>
            </div>
          </td>

          <%= show_table_unconformities_value(12, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(12, "Internação Provisória")) %>
          <%= show_table_unconformities_value(13, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(13, "Internação Provisória")) %>
          <%= show_table_unconformities_value(14, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(14, "Internação Provisória")) %>
          <%= show_table_unconformities_value(15, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(15, "Internação Provisória")) %>
          <%= show_table_unconformities_value(16, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(16, "Internação Provisória")) %>
          <%= show_table_unconformities_value(17, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(17, "Internação Provisória")) %>
          <%= show_table_unconformities_value(18, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(18, "Internação Provisória")) %>
          <%= show_table_unconformities_value(19, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(19, "Internação Provisória")) %>
          <%= show_table_unconformities_value(20, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(20, "Internação Provisória")) %>
          <%= show_table_unconformities_value(21, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(21, "Internação Provisória")) %>

          <%= show_table_unconformities_value(12, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(12, "Internação")) %>
          <%= show_table_unconformities_value(13, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(13, "Internação")) %>
          <%= show_table_unconformities_value(14, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(14, "Internação")) %>
          <%= show_table_unconformities_value(15, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(15, "Internação")) %>
          <%= show_table_unconformities_value(16, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(16, "Internação")) %>
          <%= show_table_unconformities_value(17, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(17, "Internação")) %>
          <%= show_table_unconformities_value(18, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(18, "Internação")) %>
          <%= show_table_unconformities_value(19, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(19, "Internação")) %>
          <%= show_table_unconformities_value(20, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(20, "Internação")) %>
          <%= show_table_unconformities_value(21, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(21, "Internação")) %>

          <%= show_table_unconformities_value(12, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(12, "Sanção")) %>
          <%= show_table_unconformities_value(13, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(13, "Sanção")) %>
          <%= show_table_unconformities_value(14, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(14, "Sanção")) %>
          <%= show_table_unconformities_value(15, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(15, "Sanção")) %>
          <%= show_table_unconformities_value(16, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(16, "Sanção")) %>
          <%= show_table_unconformities_value(17, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(17, "Sanção")) %>
          <%= show_table_unconformities_value(18, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(18, "Sanção")) %>
          <%= show_table_unconformities_value(19, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(19, "Sanção")) %>
          <%= show_table_unconformities_value(20, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(20, "Sanção")) %>
          <%= show_table_unconformities_value(21, unit.min_age, unit.max_age, unit.count_applied_measure_by_age(21, "Sanção")) %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  </div>
</div>
