<div class="row subtitle-content">
  <div class="col-md-12">
    <div class="col-md-12 subtitle-panel">
      <div class="col-md-3 text-center">
        <%= link_to offenders_path({q:{ measures_end_date_measure_lt: Date.today + 10,  measures_end_date_measure_gt: Date.today, measures_measure_type_eq: I18n.t("activerecord.attributes.offender.measure_type_list.provisional_admission") }}) do %>
          <div class="subtitle bad bad-subtitle text-center" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="<%= I18n.t('views.offenders.subtitle.near_due_date.text', date: l(Date.today + 10))%>" title="<%= I18n.t('views.offenders.subtitle.near_due_date.title') %>" data-original-title="">
            <%= @near_due_date_counter %>
          </div>
          <%= I18n.t('views.offenders.subtitle.near_due_date.title') %>
        <% end %>
      </div>

      <div class="col-md-2 text-center">
        <%= link_to offenders_path({ q: { measures_current_period_date_lteq: Date.today + 30.days } }) do %>
          <div class="subtitle regular regular-subtitle text-center" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="<%= I18n.t('views.offenders.subtitle.current_period.text')%>" title="<%= I18n.t('views.offenders.subtitle.current_period.title') %>" data-original-title="">
            <%= @near_current_period_counter %>
          </div>
          <%= I18n.t('views.offenders.subtitle.current_period.title') %>
        <% end %>
      </div>

      <div class="col-md-2 text-center">
        <%= link_to offenders_path({ q: { measures_end_date_measure_lt: Date.today + 10,  measures_measure_type_eq: I18n.t("activerecord.attributes.offender.measure_type_list.sanction") } }) do %>
          <div class="subtitle sanction sanction-subtitle text-center" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="<%= I18n.t('views.offenders.subtitle.sanction.text', date: l(Date.today + 10))%>" title="<%= I18n.t('views.offenders.subtitle.sanction.title') %>" data-original-title="">
            <%= @sanctions %>
          </div>
          <%= I18n.t('views.offenders.subtitle.sanction.title') %>
        <% end %>
      </div>

      <div class="col-md-2 text-center">
        <%= link_to offenders_path({ q: { measures_measure_situation_not_eq: t('activerecord.attributes.measures.measures_situations.finished'), measures_end_date_measure_lt: Date.today, measures_measure_type_eq: I18n.t("activerecord.attributes.offender.measure_type_list.provisional_admission") } }) do %>
          <div class="subtitle overdue overdue-subtitle text-center" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="<%= I18n.t('views.offenders.subtitle.overdue_measure.text')%>" title="<%= I18n.t('views.offenders.subtitle.overdue_measure.title') %>" data-original-title="">
            <%= @measure_overdues %>
          </div>
          <%= I18n.t('views.offenders.subtitle.overdue_measure.title') %>
        <% end %>
      </div>

      <div class="col-md-3 text-center">
        <%= link_to offenders_path({ q: { evaded_eq: true } }) do %>
          <div class="subtitle evaded evaded-subtitle text-center" data-trigger="hover" data-toggle="popover" data-placement="top" title="<%= I18n.t('views.offenders.subtitle.evaded.title') %>" data-original-title="">
            <%= @evaded %>
          </div>
          <%= I18n.t('views.offenders.subtitle.evaded.title') %>
        <% end %>
      </div>


    </div>
  </div>
</div>
