<div class="tile">
 <div class="t-header th-alt bg-teal">
  <div class="th-title">
    <%= fa_icon("filter") %>
    <%= t("app.filter") %>
  </div>
 </div>
 <div class="t-body tb-padding">
  <%= search_form_for @q do |f| %>
    <div class="row-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :unit_id_in, t('activerecord.attributes.offender.unit') %>
            <%= f.select(:unit_id_in, grouped_options_for_select(@units), { include_blank: false }, { class: "select2 form-control", multiple: "multiple", data: { value: value_selected("q", "unit_id_in") } }) %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :name_cont, t('activerecord.attributes.offender.name') %>
            <%= f.search_field :name_cont, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= f.label :age_in, t('activerecord.attributes.offender.age') %>
            <%= f.collection_select(:age_in, @ages, :age, :age, { include_blank: false }, { class: "select2 form-control", multiple: "multiple" }) %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= f.label :recurrent_in, t('activerecord.attributes.offender.recurrent') %>
            <%= f.collection_select(:recurrent_in, @recurrents, :recurrent, :recurrent, { include_blank: false }, { class: "select2 form-control", multiple: "multiple" }) %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :origin_county_in, t('activerecord.attributes.offender.origin_county') %>
            <%= f.select(:origin_county_in, @origin_counties, { include_blank: false }, { class: "select2 form-control", multiple: "multiple" }) %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :crimes_name, t('activerecord.attributes.offender.crimes_name') %>
            <%= f.collection_select(:crimes_name_in, @crimes, :name, :name, { include_blank: true }, { class: "select2 form-control", multiple: "multiple" }) %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :measures_measure_type_in, t('activerecord.attributes.offender.measures_measure_type') %>
            <%= f.select(:measures_measure_type_in, @measure_types, { include_blank: false }, { class: "select2 form-control", multiple: "multiple" }) %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <%= f.label :measures_measure_deadline_in, t('activerecord.attributes.offender.measures_measure_deadline') %>
            <%= f.select(:measures_measure_deadline_in, @measure_deadlines, { include_blank: false }, { class: "select2 form-control", multiple: "multiple" }) %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= f.label :measures_start_date_measure_gteq, t('activerecord.attributes.offender.measures_start_date_measure') %>
            <%= f.search_field :measures_start_date_measure_gteq, class: "form-control date-time-picker", value: date_input(f.object.measures_start_date_measure_gteq) %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= f.label :measures_end_date_measure_lteq, t('activerecord.attributes.offender.measures_end_date_measure') %>
            <%= f.search_field :measures_end_date_measure_lteq, class: "form-control date-time-picker", value: date_input(f.object.measures_end_date_measure_lteq) %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :measures_measure_situation_in, t('activerecord.attributes.offender.measures_measure_situation') %>
            <%= f.select(:measures_measure_situation_in, @measure_situations, { include_blank: false }, { class: "select2 form-control", multiple: "multiple" }) %>
          </div>
        </div>
      </div>
    </div>

      <span>
        <%= button_tag(type: 'submit', name: "search", class: "btn btn-success generate-files") do %>
          <%= fa_icon("search") %>
          <%= t("views.general.search") %>
        <% end %>

        <%= link_to offenders_path, class: "btn btn-danger" do %>
        <%= fa_icon("search-minus") %>
        <%= t("app.remove_filter")%>
        <% end %>
      </span>

      <span class="pull-right">
        <%= button_tag(type: 'submit', name: "export_pdf", class: "btn btn-success", formtarget: "_blank") do %>
          <%= fa_icon("file-pdf-o") %>
          <%= t("views.general.export.to_pdf") %>
        <% end %>
        <%= button_tag(type: 'submit', name: "export_sheet", class: "btn btn-success", formtarget: "_blank") do %>
          <%= fa_icon("file-excel-o") %>
          <%= t("views.general.export.to_excel")%>
        <% end %>
      </span>
  <% end %>
 </div>
</div>
