<li class="hidden-xs dropdown pull-right" data-toggle="tooltip" data-placement="left" title="" data-original-title="<%= t("app.apps") %>">
  <a href="" data-toggle="dropdown">
    <%= fa_icon("th", class: "icon-head") %>
  </a>

  <div class="dropdown-menu pull-right" id="launch-apps">
    <div class="dropdown-header bg-teal"><%= t("app.apps") %></div>

    <div class="la-body">
      <div class="lab-item">
        <a href="" class="bg-red">
          <%= fa_icon("calendar", class: "icon-head") %>
        </a>
        <small>Calendar</small>
      </div>

      <div class="lab-item">
        <a href="" class="bg-green">
          <%= fa_icon("files-o", class: "icon-head") %>
        </a>
        <small>Files</small>
      </div>

      <div class="lab-item">
        <a href="" class="bg-blue">
          <%= fa_icon("envelope", class: "icon-head") %>
        </a>
        <small>Mail</small>
      </div>

      <div class="lab-item">
        <a href="" class="bg-orange">
          <%= fa_icon("bar-chart", class: "icon-head") %>
        </a>
        <small>Analytics</small>
      </div>

      <div class="lab-item">
        <a href="" class="bg-cyan">
          <%= fa_icon("newspaper-o", class: "icon-head") %>
        </a>
        <small>News</small>
      </div>

      <div class="lab-item">
        <a href="" class="bg-teal">
          <%= fa_icon("film", class: "icon-head") %>
        </a>
        <small>Gallery</small>
      </div>
    </div>
  </div>
</li>
