<header id="header" class="clearfix" data-spy="affix" data-offset-top="65">
  <ul class="header-inner">
    <li class="logo">
      <%= link_to root_path, class: "img-logo" do %>
      <% end %>
    </li>

    <li>
      <a href="#" id="toggleMenu">
        <%= fa_icon("bars", class: "icon-head") %>
      </a>
    </li>

    <%= render partial: "layouts/manage_users" if current_user.admin? %>

    <li class="pull-right">
      <p class="white-text-p"><%=  t('views.general.last_updated') %><p>
      <p class="white-text-p"><%=  l(Offender.first.updated_at, :format => :short) %><p>
    </li>
  </ul>
</header>
