<header id="header" class="clearfix" data-spy="affix" data-offset-top="65">
  <ul class="header-inner">
    <li class="logo">
      <%= link_to root_path, class: "img-logo" do %>
      <% end %>
    </li>

    <li>
      <a href="#" id="toggleMenu">
        <%= fa_icon("bars", class: "icon-head") %>
      </a>
    </li>

    <%= render partial: "layouts/manage_users" if current_user.admin? %>

    <li class="pull-right" data-trigger="hover" data-toggle="popover" data-placement="left"
    data-content="<%=  l(Offender.first.updated_at, :format => :short) %>"
    data-original-title="<%=  t('views.general.last_updated') %>">
      <a href="" data-toggle="dropdown">
        <%= fa_icon("clock-o", class: "icon-head") %>
      </a>
    </li>
  </ul>
</header>
