<aside id="sidebar">

  <!--| MAIN MENU |-->
  <ul class="side-menu">

    <li>
      <a href="#" id="toggleMenu">
        <%= fa_icon("bars", class: "icon-head") %>
      </a>
    </li>

    <%= render partial: "layouts/user_profile" if current_user %>

    <li>
      <%= menu_icon(root_path, "home", t("main_menu.home")) %>
    </li>

    <li>
      <%= menu_icon(offenders_path, "search", t("main_menu.search")) %>
    </li>

    <li>
      <%= menu_icon(dashboard_index_path, "pie-chart", t("main_menu.dashboard")) %>
    </li>

    <li class="sm-sub">
      <%= menu_icon("", "file-text", t("main_menu.analysis.analysis")) %>
      <ul>
        <li>
          <%= link_to t("main_menu.analysis.unconformities"), unconformities_analysis_index_path %>
        </li>
      </ul>
    </li>

    <li class="sm-sub">
      <%= menu_icon("", "cogs", t("main_menu.configurations.configurations")) %>
      <ul>
        <li>
          <%= link_to t("main_menu.configurations.units"), units_path %>
        </li>
      </ul>
    </li>

    <li class="sm-sub">
      <%= menu_icon("", "line-chart", t("main_menu.indicators.indicators")) %>
      <ul>
        <li>
          <%= link_to t("main_menu.indicators.units"), units_indicators_path %>
        </li>
        <li>
          <%= link_to t("main_menu.indicators.indicator_01"), indicator_01_indicators_path %>
        </li>
      </ul>
    </li>

  </ul>
</aside>
