<% if policy(Role).show_menu? %>
  <li class="pull-right dropdown hidden-xs" data-toggle="tooltip" data-placement="left" title=""  data-original-title="<%= t("main_menu.user_management.user_management") %>">
    <a href="" data-toggle="dropdown">
      <%= fa_icon("users", class: "icon-head") %>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "#{t("main_menu.role_management.role_management")}  (#{t("main_menu.role_management.create")})", new_role_path %>
      </li>
      <li>
        <%= link_to "#{t("main_menu.role_management.role_management")}  (#{t("main_menu.role_management.list")})", roles_path %>
      </li>
      <li>
        <%= link_to "#{t("main_menu.user_management.user_management")}  (#{t("main_menu.user_management.create")})", new_user_path %>
      </li>
      <li>
        <%= link_to t("main_menu.user_management.list"), users_path %>
      </li>
    </ul>
  </li>
<% end %>
